<!doctype html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title><%= title %></title>
    <style>
        .modal-content {
          padding-bottom: 40px;
          border:none;}
        .ans {
        padding-bottom: 20px;
        border:none;
        }
        .modal-footer{
          padding-bottom: 0px;
        }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
      <div class="container">
          <a class="navbar-brand" href="/"><%= title %></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/subjects/my">나의 과목</a>
              </li>
              <% if(user) { 
                if (user.type == 1){%>
                <li class="nav-item">
                  <a class="nav-link" href="/banks">문제 은행</a>
                </li>
              <%}%>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%=user.name%> 님
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/users/mypage">나의 정보</a>
                  <a class="dropdown-item" href="#">계정설정</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/users/sign_out">로그아웃</a>
                </div>
              </li>
              <% } else { %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  로그인/가입
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/users/sign_in">로그인</a>
                  <a class="dropdown-item" href="/users/sign_up">가입</a>
                </div>
              </li>
              <% } %>
            </ul>
          </div>
      </div>
    </nav>

    <div class="container">
        <div class="jumbotron jumbotron-fluid" style="background-color: white;">
            <div class="container">
                <h1 class="display-6"> 나의 문제은행 리스트입니다. </h1>
                <p class="lead">문제은행을 보거나 삭제할 수 있습니다^^</p>
            </div>
            <a href="banks/make/" style="color: white;" ><button type="button" class="btn btn-outline-primary btn-lg btn-block">문제은행 만들기</button></a>
        </div>

        <!-- 이 아래에 테이블로 문항 리스트 불러오기--> 
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">번호</th>
                <th scope="col">은행 이름</th>
                <th scope="col">보기</th>
                <th scope="col">삭제</th>
              </tr>
            </thead>
            <tbody>
              <% for(let i = 0; i < banks.length ; i++) {%>
              <tr>
                <th scope="row"><%=(i+1)%></th>
                <td><%=banks[i].dataValues.name%></td>
                <td><a href='banks/list/<%=banks[i].bankID%>'><button type="button" class="btn btn-sm btn-outline-primary btn-block">보기</button></a></td>
                <td><a href="#" class="btn btn-sm btn-danger btn-block">삭제</a></td>
              </tr>
              <%}%>
            </tbody>
          </table>
    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>