<!doctype html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title><%= title %></title>
    <style>
        label{margin-right:10px;}
        .form-control {margin-right:10px;}
        .form-row {margin-bottom:20px;}
        .form-inline {margin-bottom:20px;}
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
      <div class="container">
          <a class="navbar-brand" href="/"><%= title %></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/subjects/my">나의 과목</a>
              </li>
              <% if(user) { 
                if (user.type == 1){%>
                <li class="nav-item">
                  <a class="nav-link" href="/banks">문제 은행</a>
                </li>
              <%}%>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%=user.name%> 님
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/users/mypage">나의 정보</a>
                  <a class="dropdown-item" href="#">계정설정</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/users/sign_out">로그아웃</a>
                </div>
              </li>
              <% } else { %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  로그인/가입
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/users/sign_in">로그인</a>
                  <a class="dropdown-item" href="/users/sign_up">가입</a>
                </div>
              </li>
              <% } %>
            </ul>
          </div>
      </div>
    </nav>
    <div class="container">
      
    <div class="jumbotron" style="background-color: white;">
        <h1 class="display-4">문항 만들기</h1>
        <p class="lead">객관식, 단답형, 파라미터를 넣은 개별 단답 문항을 만들 수 있습니다. 
        </p>
          <div class="card text-left">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs">
                <!--1인 경우 객관식, 0인 경우 단답형 활성화, 2인 경우 파라미터형 활성화 -->
                <% if (id2 == 1) {%> 
                  <li class="nav-item">
                    <a class="nav-link active" href="../<%=id1%>/1">객관식</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../<%=id1%>/0">단답형</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../<%=id1%>/2">단답형(파라미터)</a>
                  </li>
                <%} else if(id2 == 0){%>
                  <li class="nav-item">
                    <a class="nav-link" href="../<%=id1%>/1">객관식</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="../<%=id1%>/0">단답형</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../<%=id1%>/2">단답형(파라미터)</a>
                  </li>
                <% }else{%>
                  <li class="nav-item">
                    <a class="nav-link" href="../<%=id1%>/1">객관식</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../<%=id1%>/0">단답형</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="../<%=id1%>/2">단답형(파라미터)</a>
                  </li>
                <%}%>  
              </ul>
            </div>
            <div class="card-body">
              
              <form action="./<%=id2%>" method="post" enctype="multipart/form-data">
                  <% if (id2 == 1) {%> 
                    <div class="form-group">
                        <label for="q_title">제목</label>
                        <textarea class="form-control" name="q_title" id="q_title" placeholder="제목을 입력하세요" required></textarea>
                      </div>
                    <div class="form-group">
                      <label for="q_content">문제</label>
                      <textarea class="form-control" name="q_content" id="q_content" placeholder="문제를 입력하세요" required></textarea>
                    </div>
                    <!--보기 시작-->
                    <div class="form-group options">
                      <label for="contentInput">정답</label>
                      <div class="form-row" id="bogiSet1">
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" name="gridCheck1" id="gridCheck1" required>
                              <label class="form-check-label" for="gridCheck1">
                                1번    
                              </label>
                            </div>
                          <div class="col">
                              <input type="type" name="bogi1" class="form-control" id="bogi1" placeholder="보기 1번" required>  
                          </div>
                       </div>
                       <div class="form-row" id="bogiSet2">
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" name="gridCheck2" id="gridCheck2" required>
                              <label class="form-check-label" for="gridCheck2">
                                2번    
                              </label>
                            </div>
                          <div class="col">
                              <input type="type" name="bogi2" class="form-control" id="bogi2" placeholder="보기 2번" required>  
                          </div>
                       </div>
                       <div class="form-row" id="bogiSet3">
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" name="gridCheck3" id="gridCheck3" required>
                              <label class="form-check-label" for="gridCheck3">
                                3번    
                              </label>
                            </div>
                          <div class="col">
                              <input type="type" name="bogi3" class="form-control" id="bogi3" placeholder="보기 3번" required>  
                          </div>
                       </div>
                       <div class="form-row" id="bogiSet4">
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" name="gridCheck4" id="gridCheck4" required>
                              <label class="form-check-label" for="gridCheck4">
                                4번    
                              </label>
                            </div>
                          <div class="col">
                              <input type="type" name="bogi4" class="form-control" id="bogi4" placeholder="보기 4번" required>  
                          </div>
                       </div>
                       <div class="form-row" id="bogiSet5">
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" name="gridCheck5" id="gridCheck5" required>
                              <label class="form-check-label" for="gridCheck5">
                                5번    
                              </label>
                            </div>
                          <div class="col">
                              <input type="type" name="bogi5" class="form-control" id="bogi5" placeholder="보기 5번" required>  
                          </div>
                       </div>
                       <!--보기 끝-->
                    </div>
                    <!--키워드 강의 키워드 중 선택해 다중 입력 기능-->
                    <div class="form-group" id="keywordAdd">
                        <label for="keyword">키워드</label>
                          <table class="table table-borderless" id="dynamic_field">
                            <tr>
                              <td><select name="contents[0][keyword]" id="contents[0][keyword]" class="form-control" required>
                                <!-- <option selected>키워드 선택</option> -->
                                <%for (let i = 0; i < lecture_keywords.length; i++) {%>
                                  <option value="<%=lecture_keywords[i].dataValues.lecture_keyword%>"><%=lecture_keywords[i].dataValues.lecture_keyword%></option>
                                <%}%>
                              </select>
                              </td>
                              <td><input type="number" name="contents[0][score]" class="form-control" id="contents[0][score]" placeholder="배점 입력" required></td>
                              <td><button type="button" name="add_more" class="btn btn-success" id="add_more">Add more</button></td>
                            </tr>
                          </table>
                      </div>
                      <!--난이도-->
                      <div class="form-group" id="difficultySet">
                          <label for="difficulty">난이도</label>
                          <div class="form-inline">
                            <input type="number" step="0.01" min="0" max="10" name="difficulty" class="form-control" id="difficulty" placeholder="0~10" required>
                          </div>  
                      </div>
                      <div class="form-group" id="timelimitSet">
                          <label for="timelimit">풀이 시간 설정 (초 단위)</label>
                          <input type="number" name="timelimit" class="form-control" id="timelimit" placeholder="00초" required>
                      </div>
                      <button type="submit" class="btn btn-primary">만들기</button>
                  <%} else if(id2 == 0){%>
                      <div class="form-group">
                        <label for="q_title">제목</label>
                        <textarea class="form-control" name="q_title" id="q_title" placeholder="제목을 입력하세요" required></textarea>
                      </div>
                      <div class="form-group">
                        <label for="q_content">문제</label>
                        <textarea class="form-control" name="q_content" id="q_content" placeholder="문제를 입력하세요" required></textarea>
                      </div>
                      <div class="form-group">
                        <label for="answer">정답</label>
                        <textarea class="form-control" name="answer" id="answer" placeholder="정답을 입력하세요"required></textarea>
                      </div>
                      <!--키워드 강의 키워드 중 선택해 다중 입력 기능-->
                      <div class="form-group" id="keywordAdd">
                        <label for="keyword">키워드</label>
                          <table class="table table-borderless" id="dynamic_field">
                            <tr>
                              <td><select name="contents[0][keyword]" id="contents[0][keyword]" class="form-control" required>
                                <!-- <option selected>키워드 선택</option> -->
                                <%for (let i = 0; i < lecture_keywords.length; i++) {%>
                                  <option value="<%=lecture_keywords[i].dataValues.lecture_keyword%>"><%=lecture_keywords[i].dataValues.lecture_keyword%></option>
                                <%}%>
                              </select>
                              </td>
                              <td><input type="number" name="contents[0][score]" class="form-control" id="contents[0][score]" placeholder="배점 입력" required></td>
                              <td><button type="button" name="add_more" class="btn btn-success" id="add_more">Add more</button></td>
                            </tr>
                          </table>
                      </div>
                        <!--난이도-->
                        <div class="form-group" id="difficultySet">
                          <label for="difficulty">난이도</label>
                          <div class="form-inline">
                            <input type="number" step="0.01" min="0" max="10" name="difficulty" class="form-control" id="difficulty" placeholder="0~10" required>
                          </div>  
                        </div>
                        <div class="form-group" id="timelimitSet">
                          <label for="timelimit">풀이 시간 설정 (초 단위)</label>
                          <input type="number" name="timelimit" class="form-control" id="timelimit" placeholder="00초"  required>
                        </div>
                    <button type="submit" class="btn btn-primary">만들기</button>
                  <%} else {%>
                    <div class="form-group">
                      <label for="q_title">제목</label>
                      <textarea class="form-control" name="q_title" id="q_title" placeholder="제목을 입력하세요" required></textarea>
                    </div>
                    <div class="form-group">
                      <label for="q_content">문제 (파라미터가 들어갈 공간은 "{params}"로 채워주세요:D)</label>
                      <textarea class="form-control" name="q_content" id="q_content" placeholder="문제를 입력하세요" required></textarea>
                    </div>
                    <div class="form-group">
                      <label for="answer">정답</label>
                      <textarea class="form-control" name="answer" id="answer" value="0" placeholder="파라미터형 문항은 정답이 필요없지만, 기본 정답을 원하시면 입력해주세요"></textarea>
                    </div>
                    <!--파라미터 파일 업로드-->
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01">업로드</span>
                      </div>
                      <div class="custom-file">
                        <input type="file" name="params" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" required>
                        <label class="custom-file-label" for="inputGroupFile01" id="inputGroupFile01_name">Choose file</label>
                      </div>
                    </div>
                    <!--키워드 강의 키워드 중 선택해 다중 입력 기능-->
                    <div class="form-group" id="keywordAdd">
                      <label for="keyword">키워드</label>
                        <table class="table table-borderless" id="dynamic_field">
                          <tr>
                            <td><select name="contents[0][keyword]" id="contents[0][keyword]" class="form-control" required>
                              <!-- <option selected>키워드 선택</option> -->
                              <%for (let i = 0; i < lecture_keywords.length; i++) {%>
                                <option value="<%=lecture_keywords[i].dataValues.lecture_keyword%>"><%=lecture_keywords[i].dataValues.lecture_keyword%></option>
                              <%}%>
                            </select>
                            </td>
                            <td><input type="number" name="contents[0][score]" class="form-control" id="contents[0][score]" placeholder="배점 입력" required></td>
                            <td><button type="button" name="add_more" class="btn btn-success" id="add_more">Add more</button></td>
                          </tr>
                        </table>
                    </div>
                      <!--난이도-->
                      <div class="form-group" id="difficultySet">
                        <label for="difficulty">난이도</label>
                        <div class="form-inline">
                          <input type="number" step="0.01" min="0" max="10" name="difficulty" class="form-control" id="difficulty" placeholder="0~10" required>
                        </div>  
                      </div>
                      <div class="form-group" id="timelimitSet">
                        <label for="timelimit">풀이 시간 설정 (초 단위)</label>
                        <input type="number" name="timelimit" class="form-control" id="timelimit" placeholder="00초" required>
                      </div>
                  <button type="submit" class="btn btn-primary">만들기</button>
                <%}%>
              </form>
            </div>
          </div>
      </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!--checkbox 입력 최소한 1개 조건-->
    <script>
    $(function(){
      var requiredCheckboxes = $('.options :checkbox[required]');
      requiredCheckboxes.change(function(){
        if(requiredCheckboxes.is(':checked')) {
            requiredCheckboxes.removeAttr('required');
        } else {
            requiredCheckboxes.attr('required', 'required');
        }
        });
      });
    </script>
    <!--키워드 추가 입력 기능-->
    <script>
        var i = 1;
        $(document).ready(function(){
          $('#dynamic_field').on('click', '#add_more', function(){
            if (i<4){
              i++;
              $('#dynamic_field').append('<tr><td><select name="contents['+i+'][keyword]" id="contents['+i+'][keyword]" class="form-control"><%for (let j = 0; j < lecture_keywords.length; j++) {%><option value="<%=lecture_keywords[j].dataValues.lecture_keyword%>"><%=lecture_keywords[j].dataValues.lecture_keyword%></option><%}%></select></td><td><input type="number" name="contents['+i+'][score]" class="form-control" id="contents['+i+'][score]" placeholder="배점 입력"></td><td><button type="button" name="add_more" class="btn btn-danger btn_remove" id="add_more">Remove</button></td></tr>');
              $(document).on('click', '.btn_remove', function(){
              var button_id = $(this).attr("id");
              $('#row'+button_id+'').remove();
            });
            }
        });
      });
      </script>
      <!--파일 업로드 한 경우 이름 보여주기-->
      <script>
      $("#inputGroupFile01").change(function(){
      $("#inputGroupFile01_name").text(this.files[0].name);
      });
      </script>
  </body>
</html>